[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.marcustheatres.com/media/images/gallery-images/coral-ridge/3-coralridge-concessionsjpg.jpg
Type=Link
URL=http://www.marcustheatres.com/media/images/gallery-images/coral-ridge/3-coralridge-concessionsjpg.jpg
Icon=image-jpeg
Name[en_US]=candy_counter.jpg
