<launch>
    <arg name="lidar_port" default="/dev/lidar"/>
    <arg name="robot_port" default="/dev/create_base"/>

    <!--GMapping Node-->
    <include file="$(find lili_navigation)/launch/include/gmapping.launch"/>

    <!--Create Robot Node-->
    <include file="$(find lili_bringup)/launch/robot_lidar.launch">
        <arg name="robot_port" value="$(arg robot_port)" />
        <arg name="lidar_port" value="$(arg lidar_port)" />
    </include>
</launch>
