[Desktop Entry]
Encoding=UTF-8
Name=Link to https://i0.wp.com/media2.slashfilm.com/slashfilm/wp/wp-content/images/movietheater-screen-seats.jpg
Type=Link
URL=https://i0.wp.com/media2.slashfilm.com/slashfilm/wp/wp-content/images/movietheater-screen-seats.jpg
Icon=image-jpeg
Name[en_US]=movie_screen.jpg
