[Desktop Entry]
Encoding=UTF-8
Name=Link to https://img0.etsystatic.com/047/1/9562683/il_570xN.670433956_l5yi.jpg
Type=Link
URL=https://img0.etsystatic.com/047/1/9562683/il_570xN.670433956_l5yi.jpg
Icon=image-jpeg
Name[en_US]=restroom.jpg
